{% extends 'base.html' %}
{% block body_block%}
    <div class="container" style="margin-top:4rem;">
        <h1 class="text-center header-index">Welcome, Contractrs!</h1>
    </div>
    <div class="container">
        <div class="row">
            <ul class="col-sm-10">
                <li class="col-sm-10">
                    <a href="#">
                        <h2>General</h2>
                    </a>
                </li>
                <li class="col-sm-10">
                    <a href="#">
                        <h2>Electrician</h2>
                    </a>
                </li>
                <li class="col-sm-10">
                    <a href="#">
                        <h2>Automotive</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
